//
   Created by xiepan on 2016/10/11.


nav(role='navigation').navbar.navbar-default.navbar-fixed-top
    div.container
        a(href='/').navbar-brand Node Cinema
        ul.nav.navbar-nav
            li
                a(href='/admin') 录入
            li
                a(href='/admin/list') 列表
            li
                a.navbar-link(href='#',data-toggle='modal',
                data-target='#signup') 注册
            li
                a.navbar-link(href='#',data-toggle='modal',
                data-target='#signin') 登录
            li
                a.test(href='#') test
        p.navbar-text.navbar-right #{title}

#signup.modal.fade
    .modal-dialog
        .modal-content
            form#form-signup
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for='signupName') 用户名
                        input#signupName.form-control(name='user[name]')
                    .form-group
                        label(for='signupPassword') 密码
                        input#signupPassword.form-control(name='user[password]')
                .modal-footer
                    button.btn.btn-default(type='button',data-dismiss='modal') 关闭
                    button.btn.btn-success(type='submit') 提交

#signin.modal.fade
    .modal-dialog
        .modal-content
            form(method='POST',action='/user/signin')
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for='signupName') 用户名
                        input#signinName.form-control(name='user[name]')
                    .form-group
                        label(for='signupPassword') 密码
                        input#signinPassword.form-control(name='user[password]')
                .modal-footer
                    button.btn.btn-default(type='button',data-dismiss='modal') 关闭
                    button.btn.btn-success(type='submit') 提交