//
   Created by xiepan on 2016/10/11.

link(href='/libs/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')