//
   Created by xiepan on 2016/10/11.


nav(role='navigation').navbar.navbar-default.navbar-fixed-top
    div.container
        a(href='/').navbar-brand Node Cinema
        ul.nav.navbar-nav
            li
                a(href='/admin') 录入
            li
                a(href='/admin/list') 列表
            li
                a(href='') three
        p.navbar-text.navbar-right #{title}


